<div class="row">
  <div class="col ml-3">
    <div class="form-group">
      <label>Name:</label>
      <input type="text" [(ngModel)]="employee.name" class="form-control">
    </div>
    <div class="form-group">
      <label>Age:</label>
      <input type="text" [(ngModel)]="employee.age" class="form-control">
    </div>
    <div class="form-group">
      <label>Email:</label>
      <input type="text" [(ngModel)]="employee.email" class="form-control">
    </div>
    <div class="form-group">
      <label>address:</label>
      <input type="text" [(ngModel)]="employee.address" class="form-control">
    </div>

    <div class="btn-group">
      <button type="button"
              *ngIf="!employee.id"
              (click)="create(employee)"
              class="btn btn-outline-primary">
        Create employee
      </button>
      <button type="button"
              *ngIf="employee.id"
              (click)="update(employee)"
              class="btn btn-outline-primary">
        Update employee
      </button>
      <button type="button"
              (click)="clearData()"
              class="btn btn-outline-primary">
        Clear
      </button>
      <button type="button"
              (click)="sortByAge()"
              class="btn btn-outline-primary">
        Sort by age
      </button>
    </div>
  </div>

  <div class="col mr-3">
    <div id="accordion">
      <div class="card" *ngFor="let employee of employees">
        <div class="card-header">
          <div class="row">
            <div class="col-md-8">
              <a class="card-link" data-toggle="collapse" href="#id{{employee.id}}">
                Name: {{employee.name}}
              </a>
            </div>
            <div class="col-md-4">
              <a href="#">
                <i (click)="readById(employee.id)">
                  edit
                </i>
              </a>
              &nbsp;&nbsp;&nbsp;
              <a href="#">
                <i (click)="delete(employee.id)">
                  delete
                </i>
              </a>
            </div>
          </div>
        </div>
        <div id="id{{employee.id}}" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <div class="form-group">
              <label>ID: {{employee.id}}</label>
            </div>
            <div class="form-group">
              <label>Age: {{employee.age}}</label>
            </div>
            <div class="form-group">
              <label>Email: {{employee.email}}</label>
            </div>
            <div class="form-group">
              <label>Address: {{employee.address}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
